<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Questions</title>   
    </head>

    <body>
      <a href="{% url 'login' %}"> Login </a> <br>
      <a href="{% url 'signup' %}"> Signup </a> <br>
      <a href="{% url 'ask' %}"> New question </a> <br>
      <a href="{% url 'popular' %}"> Popular qa </a> <br>
      {% if user.is_authenticated %}
         {{ user.get_username }} is logging in  <br>
      {% else %}
         User is logout <br>
      {% endif %}

      Pages: &nbsp;
      {% for p in paginator.page_range %}
        {% if p == page.number %}
           {{ p }} &nbsp;
        {% else %}
          <a href="{% url 'main' p %}"> {{ p }} </a> &nbsp;
        {% endif %}
      {% endfor %}
      <br>
      Questions:
      {% for question in questions %}
      <p>  {{ question.title }}, {{ question.text }} , rate = {{ question.rating }} , user = {{ question.author.get_username }}    
          <a href="{% url 'question' question.id %}"> >>> </a>
      </p> 
      {% endfor %}
    </body>
</html>
