<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Signup </title>   
    </head>

    <body>
      {% for e in form.non_fields.error %}
         <div> {{ e }} </div>
      {% endfor %}      
      <form method="post" action="/signup/">
        {% csrf_token %}
        <fieldset> 
            {% for field in form %} 
             <div>
               <label> {{ field.label }} </label>
               <div> {{ field }} </div>
             </div>
            {% endfor %}
        </fieldset>
        <div>
           <button type="submit"> Save </button>
        </div> 
      </form>
    </body>
</html>
